
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Nunito', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
 /* 'Ubuntu', sans-serif; */
body, h3, ul, li 
{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
.container
{
    margin-left: 20%;
    margin-right: 20%;
    background-color: #fafafa;
}

body
{
  background-color:aqua;
}

.nav 
{
    background-color:cornflowerblue;
    padding: 10px 15px 10px 15px;
    margin-top: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.nav h3 {
    color: #fff;
}
.nav ul
{
    /* padding-top: 7px; */
    list-style: none;
    display: flex; 
    align-items: center;
    /* justify-content: center; */
}

.nav ul li
{   
    cursor: pointer;
    padding-left: 15px; 
}

.nav ul li a
{    
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.nav .profile img
{
    width:50px;
    height: 50px;
    cursor: pointer;
}

body, p, h1, h2, h3, li, ul, h4, h5, input {
    margin: 0;
    padding: 0;
}

body 
{   
    background-color:beige;
    height: 100vh;
    background-size: cover;
    background-position: center;

}
input:focus {
    outline: none;
  }


.form {
    margin-left: 15%;
    margin-right: 15%; 
    background-color: aquamarine;
    border-radius: 1.5%;
    padding: 50px;
    

}

.form form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.form  h2
{
    text-align: center;
    font-size: medium;
    font-weight: 800;
    font-family: sans-serif;
    padding-bottom: 20px;
}
input{
    width:70%; 
    padding: 7px;
    margin-bottom: 20px;
    border-radius: 50px;
    border: 0 #fff solid;
    box-sizing: border-box;
}
input:focus {
    outline: none;
  }

.form form .login{
    background-color:royalblue;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
}
.form form .login:hover
{
    background-color: darkslateblue;
    color:bisque;
}

label
{
   padding-bottom: 10px; 
}


/* start: star rating  */
.container .star {
    display: flex;
    grid-gap: 20px;
}

.container .star a {
    transition: .6s;
    color: #333;
    font-size: 40px;
}

.container .star a.active{
    color: gold;
}

/* end: star rating  */


/* list, grid views start */
.list-grid-icons{
    /* background: #f44336; */
    margin: 30px auto;  
}

.fa-grid {
    color: #fff;
    margin: 5px 10px;
    font-size: 25px !important;
    cursor: pointer;
}

.fa-grid:hover{
    /* color: #000; */
    color: #fff;
    transition: .4s;

}

.rowlist{
    display: flex;
    flex-wrap: wrap;  
}
#column1, #column2, #column3, #column4 {
    width: 25%

}
.rowlist img {
    width: 98%;
    padding:1%;
}
/* list, grid views end */

.book-ls-font{
     
    font-family:'Ubuntu', sans-serif;
}
