{% extends 'base.html' %}
{% block title %}Kitob nomi - {{object.title}}{% endblock %}
{% block content %}
    <div class="container rounded-2">
        <div class="shadow row " style="padding:5px; margin-top:5px; border-radius:5px;">
            <div class="col-4 ">
                <img  class="" style="width:200px; height:300px;" src="{{object.image.url}}"></img>
            </div>
            <div class="col-6 m-2">
                <table class="table">
                    <tbody>
                      <tr>
                        <th scope="row">Kitob nomi</th>
                        <td>{{object.title}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Kitob hajmi</th>
                        <td>{{book_size}}</td>
                      </tr>
                      <tr>
                      <tr>

                        <th scope="row">Muallifi</th>
                        <td>{{object.author.firstname}} {{object.author.lastname}}</td>
                       </tr>
                      <tr>
                        <th scope="row">Sahifalar soni</th>
                        <td>{{object.duration}}</td>
                      </tr>        
                      <tr>
                        <th scope="row">Ko'rishlar soni</th>
                        <td>{{object.views_count}}</td>
                      </tr>        
                      <tr>
                        <th scope="row">Qo'shdi</th>
                        <td>{{object.owner}}</td>
                      </tr>        
                      <tr >
                      <tr>
                        <th scope="row">Rating</th>
                        <td>{% if rating %}{{rating}} / 10{% endif %}</td>
                      </tr>        
                      <tr >
                        <th scope="row">
                            {% comment %} <a href="{{object.pdf.url}}"><button id="toggleButton"  type="button" class="btn btn-primary btn-sm"> Ko'rish</button> </a>                    {% endcomment %}
                            <a href="{% url 'books:pdf_viewer' %}?pdf_url={{ object.pdf.url }}">
                              <button type="button" class="btn btn-primary btn-sm">View PDF</button>
                          </a>
                            {% comment %} <form method="GET">
                              <input type="hidden" name="pdf_url" value="{{object.pdf.url}}"> 
                              <button type="submit" name="Ko'rish">ko'rish</button>
                            </form> {% endcomment %}
                                                         
                            {% comment %}                     {% endcomment %}
                        </th>
                        <td>
                            <a href="{{object.pdf.url}}"><button type="button" class="btn btn-primary btn-sm">Yuklab olish</button></a>
                        </td>
                      </tr>        
                  </table>
                </div>  
          </div>    
           
    </div>
   
     
    

    <div class="container rounded-2 ">
      <div class="row  mt-3 shadow " style=" background-color:	#ADD8E6; border-radius:5px;">
      <div class="col">
      <h2 class="pt-2 text-center">Fikr-mulohaza qoldirish</h2>
      <form id="myForm" method="POST" class="pb-2"  action="{% url 'books:save_comment' %}"  enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="user"  value="{{current}}">
        <input type="hidden" name="book" value="{{object.id}}">
        <label for="email">Email</label>
          <input type='email' name='email' id="email" placeholder=" "/> <p>
            <span id="errorText1" style="color: red;"></span><p>
              <label for="feedback">Fikr-mulohaza</label>
              <textarea id="feedback" style="outline:none; border:0;" class="rounded-1" type='comment' name='feedback' id="feedback" rows="10" cols="80"> </textarea><p>
              <span id="errorText2" style="color: red;"></span><p>
            <label class="" for="rate">Baholang[1-5]</label>  
                <input   type='range' name='rate' id='rate'  step="20" min="0" max="100" value="0" placeholder="foydalanuvchi nomi"> <p>
          <input type="submit" class="btn btn-primary" value="Jo'natish">  
        
      </form>
      </div>
      <div class="col mt-5 pb-5">
        <div class="card">
          {% for comment in comments%}
          <div class='p-3'>
          <h6 style="color:#191970;">{{comment.email}}</h6>
          <p>{{comment.feedback}}</p>
        </div>
          {% endfor%}
        </div>
      </div>
    </div>
  </div>
    <!--Javascript-->
    <script>
    document.getElementById("myForm").addEventListener("submit", function(event) {
      var inputField1 = document.getElementById("email");
      var errorText1 = document.getElementById("errorText1");
      
      if (inputField1.value === "" || inputField1.value === null) {
          event.preventDefault();  // Prevent form submission
          errorText1.textContent = "iltimos emailni kiriting"; 
          // alert("Please enter a value"); 
           // Display an error message or perform other actions
        } else {
          errorText1.textContent = ""; 
        }
      });
      document.getElementById("myForm").addEventListener("submit", function(event) {

      var errorText2 = document.getElementById("errorText2");
      console.log(errorText2)
      var inputField2 = document.getElementById("feedback");
      console.log(inputField2)
      if (inputField2.value === " " || inputField2.value === null) {
          event.preventDefault();  // Prevent form submission
          errorText2.textContent = "iltimos fikrni kiriting"; 
          // alert("Please enter a value"); 
           // Display an error message or perform other actions
        } else {
          errorText2.textContent = ""; 
        }
     });
</script>
{% endblock content %}