{% extends 'base.html' %}
{% block title %}Kitob nomi - {{object.title}}{% endblock %}
{% block content %}
    <div class="container rounded-2">
        <div class="shadow row " style="padding:5px; margin-top:5px; border-radius:5px;">
            <div class="col-4 ">
                <img  class="" style="width:200px; height:300px;" src="{{object.image.url}}"></img>
            </div>
            <div class="col-6 m-2">
                <table class="table">
                    <tbody>
                      <tr>
                        <th scope="row">Kitob nomi</th>
                        <td>{{object.title}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Kitob hajmi</th>
                        <td>{{book_size}}</td>
                      </tr>
                      <tr>
                      <tr>

                        <th scope="row">Muallifi</th>
                        <td>{{object.author.firstname}} {{object.author.lastname}}</td>
                       </tr>
                      <tr>
                        <th scope="row">Sahifalar soni</th>
                        <td>{{object.duration}}</td>
                      </tr>        
                      <tr>
                        <th scope="row">Ko'rishlar soni</th>
                        <td>{{object.views_count}}</td>
                      </tr>        
                      <tr>
                        <th scope="row">Qo'shdi</th>
                        <td>{{object.owner}}</td>
                      </tr>        
                      <tr >
                        <th scope="row">
                            {% comment %} <a href="{{object.pdf.url}}"><button id="toggleButton"  type="button" class="btn btn-primary btn-sm"> Ko'rish</button> </a>                    {% endcomment %}
                             <button id="toggleButton"  type="button" class="btn btn-primary btn-sm"> Ko'rish</button>                     
                        </th>
                        <td>
                            <a href="{{object.pdf.url}}"><button type="button" class="btn btn-primary btn-sm">Yuklab olish</button></a>
                        </td>
                      </tr>        
                  </table>
                </div>  
          </div>    
           
    </div>
    {% comment %} {{object.pdf.url}} {% endcomment %}
    <div class=" container mt-3 shadow rounded-2 ratio ratio-16x9"  >
      {% comment %} <iframe  src="{{object.pdf.url}}" id="myParagraph" style="width:85%; height=975px" frameborder="0" allowfullscreen></iframe> {% endcomment %}
      {% comment %} <p id="myParagraph" style="display: none;">This is the content of the paragraph.</p> {% endcomment %}
      <iframe width="560" height="315" src="{{object.pdf.url}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      {% comment %} <iframe width="560" height="315" src="https://www.youtube.com/embed/WOviyskMQ_M?si=w8xq_UuRvlcaNrCK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> {% endcomment %}
    </div>

    <div class="container row  mt-3 shadow rounded-2" style="margin-left:62px; background-color:	#ADD8E6">
      <div class="col">
      <h2 class="pt-2 text-center">Fikr-mulohaza qoldirish</h2>
      <form method="POST" class="pb-2"  action="{% url 'books:save_comment' %}"  enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="user" value="{{current}}">
        <input type="hidden" name="book" value="{{object.id}}">
        <label for="email">Email</label>
          <input type='email' name='email' id="email" placeholder=" "/> <p>
            <label for="feedback">Fikr mulohaza</label>
            <textarea  style="outline:none; border:0;" class="rounded-1" type='comment' name='feedback' id="feedback" rows="10" cols="80"> </textarea><p>
            <label for="rate">Baholang</label>  
                <input type='range' name='rate' id='rate' value="0" placeholder="foydalanuvchi nomi"> <p>
          <input type="submit" class="btn btn-primary" value="Jo'natish">  
        
      </form>
      </div>
      <div class="col mt-5 pb-5">
        <div class="card">
          {% for comment in comments%}
          <div class='p-3'>
          <h6 style="color:#191970;">{{comment.email}}</h6>
          <p>{{comment.feedback}}</p>
        </div>
          {% endfor%}
        </div>
      </div>
    </div>
    <!--Javascript-->
    <script>
      var toggleButton = document.getElementById("toggleButton");
      var myParagraph = document.getElementById("myParagraph");
    
      toggleButton.addEventListener("click", function() {
        if (myParagraph.style.display === "none") {
          myParagraph.style.display = "block";
        } else {
          myParagraph.style.display = "none";
        }
      });
    </script>
{% endblock content %}