{% extends 'base.html' %}
{% block content %}

{% for book in books %}
    <div class="container rounded-2" style="max-width:600px;">
        <div class="mt-1 p-3 row">
        <div class="col">
                <a href="{% url 'books:book_detail' book.pk  %}"><img width=100px height=150px src="{{book.image.url}}"></img></a>
        </div>
        <div class="col">
            <h3>{{ book.title }}</h3>
            <p>Author: {{ book.author }}</p>
            <p>Genre: {{ book.category }}</p>
            <p>Ko'rishlar soni: {{ book.views_count }}</p>
        </div>
        </div> 
    </div>
{% endfor %}
{% endblock content %}