{% extends 'base.html' %}
{% block content %}
 <div class="container d-block">
    <b class="" href=" " role="button" >
      Janrni tanlang 
    </b>
     
        <p><a class="text-decoration-none m-4 shadow p-1" href="{% url 'books:book_category' 'RM' %}">Badiiy adabiyot</a>      
        <p><a class="text-decoration-none m-4 shadow p-1" href="{% url 'books:book_category' 'SH' %}">Diniy adabiyot</a>    
        <p><a class="text-decoration-none m-4 shadow p-1" href="{% url 'books:book_category' 'CM' %}">Bolalar adabiyoti</a>
        <p><a class="text-decoration-none m-4 shadow p-1" href="{% url 'books:book_category' 'MD' %}">Maktab darsliklari</a>
    
</div>
{% endblock content%}