{% extends "base.html" %}
{% block content %}


 
 <div style="d-flex" class="d-flex container">
    <table class="table table-striped justify-content-center">
     <thead>
       <tr>
         <th scope="col" style="text-align:center " >No</th>
         <th scope="col" style="text-align:center ">Username</th>
         <th scope="col" style="text-align:center">Email</th>
         <th scope="col" style="text-align:center">Image</th>
         <th scope="col" style="text-align:center">Oxirgi kirish</th>
       </tr>
     </thead>
     {% for user in users %}
      
       <tbody  >
         <tr>
           <th style="text-align:center " scope="row">{{forloop.counter}}</th>
           <td style="text-align:center"> {{ user.username }}</td>
           <td style="text-align:center">{{ user.email}}</td>
           <td style="text-align:center"><a href=" "><img width=100px height=150px src="{{user.image.url}}"></img></td>
           <td style="text-align:center">{{user.last_login}}</td>
         </tr>
       </tbody>
     {% endfor %} 
     </table>
 </div>

{% endblock content %}