{% extends "base.html" %}
{% load socialaccount %}
{% comment %} {% load socialaccount %} {% endcomment %}
{% block content %}
{% if user.is_authenticated %}
<a  class="container m-5" href="{% url 'account:logout-user' %}"><button type="button">Logout</button></a>

{% else %}
<form method="POST" class="container" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" >Register</button>
</form>
<div class=" m-5  btn btn-primary" >
    <b>Google authentication</b><p>
    <a  class="text-white text-decoration-none" href="{% provider_login_url 'google' %}">Login with Google</a>
</div>
{% endif %} 
{% endblock content %}